[package]
name = "trace-viewer"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libmseed-sys = { path = "../libmseed-sys", version = "0.1.0"}
clap = {version = "~2.27.0", features = ["yaml"]}
tui = "0.15"
termion = "1.5"

